<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4357BA811F033D36002052C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4357BA9A1F033D36002052C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4357BAA51F033D36002052C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
